{% extends "base.html" %}


{% block title %}Entrar Lista de tarefas{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md4 offset-md-4">
        <div class="card auth card">
            <div class="card-body">
                <h4 class="card-title text-center">Entrar no Lista de tarefas</h4>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{next}}">

                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}