.container-fluid{
    padding: 0;
}

/* NavBar */

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav{
    margin:auto;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link{
    color: #333;
    letter-spacing: 1px;
}

/* Botao de adicionar tarefas */

#add-link{
    text-decoration: none;
}

.add-div{
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus{
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}


/* Search */

.fas.fa-search{
    position: absolute;
    top: 82px;
    right: 80px;
    cursor:pointer;
}

.search-div{
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

/* Lista de tarefas */

.list-div{
    padding: 0;
    position: relative;
}

.task-list{
    padding-left: 0;
}



.task-item{
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
}

.task-item.done{
    background-color: #ccc;
}

.fas.fa-trash, .fas.fa-check, .fas.fa-edit {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-trash {
    color: #db1e47;
}

.fas.fa-check{
    color: #ccc;
}

.done .fas.fa-check{
    color: #3476e2;
}

/* Rodapé */

footer{
    background-color: #333;
    height: 300px;
    border-top: 2px solid #202020;
}

footer p{
    color:#f5f5f5;
    text-align: center;
    top: 50%;
    position: relative;
}

/* Messages */

ul.messages{
    padding:0;
}

ul.messages{
    list-style: none;
}

.task-item a{
    text-decoration: none;
}

/* paginação */

.pagination {
    display: flex;
    margin-bottom: 20px;
}

.step-links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
}

/* Login */

.auth-card{
    margin-bottom:30px;
}

.change-form-p{
    margin-top: 30px;
    text-align: center;
}