.container-fluid{
    padding: 0;
}

.container-fluid .row {
    margin: 0;
}

/* NavBar */

.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav{
    margin:auto;
}

#nav-login{
    margin-left: -100px;
}

.nav-item {
    padding:0;
    margin-left: 10px;
}

.navbar-brand {
    font-weight: bold;
    margin-left: 30px;
}

.navbar-light .navbar-nav a.nav-link{
    color: #333;
    letter-spacing: 1px;
}

/* dashboard */

.container.dashboard{
    width: 100%;
}

.dashboard{
    padding:0;
    width: 100%;
    display: block;
}

.dashboard h4{
    font-size: 20px;
}

.dashboard span{
    font-size: 40px;
    display: inline-block;
    width: 100%;
}

.dashboard.box{
    float: left;
    background-color: #dfdfdf;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    height: 130px;
    width: 32%;
    text-align: center;
}

.dashboard.box:nth-child(2){
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#dashboard-lastdays{
    background-color:#3476e2;
}

#dashboard-done{
    background-color:#13c43f;
}

#dashboard-doing{
    background-color:#db1e47;
}

/* Botao de adicionar tarefas */

#add-link{
    text-decoration: none;
}

.add-div{
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus{
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}


/* Search */

.fas.fa-search{
    position: absolute;
    top: 212px;
    right: 80px;
    cursor:pointer;
}

.search-div{
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

/* Lista de tarefas */

.list-div{
    padding: 0;
    position: relative;
}

.task-list{
    padding-left: 0;
}



.task-item{
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding: 0 15px;
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
}

.task-item.done{
    background-color: #ccc;
}

.fas.fa-trash, .fas.fa-check, .fas.fa-edit {
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-trash {
    color: #db1e47;
}

.fas.fa-check{
    color: #ccc;
}

.done .fas.fa-check{
    color: #3476e2;
}

/* Rodapé */

footer{
    background-color: #333;
    height: 300px;
    border-top: 2px solid #202020;
}

footer p{
    color:#f5f5f5;
    text-align: center;
    top: 50%;
    position: relative;
}


/* Messages */

ul.messages{
    padding:0;
}

ul.messages{
    list-style: none;
}

.task-item a{
    text-decoration: none;
}

/* paginação */

.pagination {
    display: flex;
    margin-bottom: 20px;
}

.step-links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
}

/* Login */

.auth-card{
    margin-bottom:30px;
}

.change-form-p{
    margin-top: 30px;
    text-align: center;
}

.filter-div{
    margin-bottom: 15px;
    padding: 0;
}

#filter{
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}


